/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2.5em;
    color: #2c3e50;
    margin: 0;
}

header p {
    font-size: 1.2em;
    color: #7f8c8d;
}

/* Sección de Información Personal */
.personal-info {
    margin-bottom: 20px;
}

.personal-info h2 {
    color: #2980b9;
    border-bottom: 2px solid #2980b9;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.personal-info ul {
    list-style: none;
    padding: 0;
}

.personal-info ul li {
    margin: 5px 0;
}

.personal-info a {
    color: #2980b9;
    text-decoration: none;
}

/* Sección de Experiencia */
.experience {
    margin-bottom: 20px;
}

.experience h2 {
    color: #2980b9;
    border-bottom: 2px solid #2980b9;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.job h3 {
    margin: 5px 0;
    color: #34495e;
}

.job p {
    color: #7f8c8d;
}

/* Sección de Educación */
.education {
    margin-bottom: 20px;
}

.education h2 {
    color: #2980b9;
    border-bottom: 2px solid #2980b9;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.education-item h3 {
    margin: 5px 0;
    color: #34495e;
}

.education-item p {
    color: #7f8c8d;
}

/* Sección de Habilidades */
.skills {
    margin-bottom: 20px;
}

.skills h2 {
    color: #2980b9;
    border-bottom: 2px solid #2980b9;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.skills ul {
    list-style: none;
    padding: 0;
}

.skills ul li {
    margin: 5px 0;
}

/* Sección de Contacto */
.contact {
    text-align: center;
    margin-top: 20px;
}

.contact h2 {
    color: #2980b9;
    border-bottom: 2px solid #2980b9;
    padding-bottom: 5px;
    margin-bottom: 15px;
}
