@{
    ViewData["Title"] = "Error 404";
}

<section class="py-3 py-md-5 min-vh-100 d-flex justify-content-center align-items-center" style="background-color:mistyrose">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-center">
                    <h1 class="d-flex justify-content-center align-items-center gap-2 mb-4">
                        <span class="display-1 fw-bold">4</span>
                        <i class="bi bi-exclamation-circle-fill text-danger display-4"></i>
                        <span class="display-1 fw-bold bsb-flip-h">4</span>
                    </h1>
                    <h2 class="h2 mb-2">@ViewData["Title"]</h2>
                    @if (!string.IsNullOrEmpty(ViewData["ErrorMessage"]?.ToString()))
                    {
                        <p class="mb-3">@ViewData["ErrorMessage"]</p>
                    }
                    else
                    {
                        <p class="mb-3">Oops! La página que buscas no fue encontrada.</p>
                    }
                    <a class="btn bsb-btn-5xl btn-dark rounded-pill px-5 fs-6 m-0" href="~/Home/Index" role="button">Volver al inicio</a>
                </div>
            </div>
        </div>
    </div>
</section>