@{
    ViewData["Title"] = "Calculadora";
}

<h2 class="text-center text-primary mb-4">@ViewData["Title"]</h2>

<p class="text-center mb-5">Seleccione una operación:</p>

<div class="d-flex justify-content-center mt-5">
    <div class="d-flex flex-column gap-3 animate__animated animate__fadeIn" style="min-width: 250px;">
        
        <form asp-controller="Calculadora" asp-action="Sumar" method="get">
            <button type="submit" class="btn btn-primary shadow-sm w-100 py-3">
                <i class="bi bi-plus-circle-fill me-2"></i> Suma
            </button>
        </form>

        
        <form asp-controller="Calculadora" asp-action="Restar" method="get">
            <button type="submit" class="btn btn-secondary shadow-sm w-100 py-3">
                <i class="bi bi-dash-circle-fill me-2"></i> Resta
            </button>
        </form>

       
        <form asp-controller="Calculadora" asp-action="Multiplicar" method="get">
            <button type="submit" class="btn btn-success shadow-sm w-100 py-3">
                <i class="bi bi-x-circle-fill me-2"></i> Multiplicación
            </button>
        </form>

       
        <form asp-controller="Calculadora" asp-action="Dividir" method="get">
            <button type="submit" class="btn btn-danger shadow-sm w-100 py-3">
                <i class="bi bi-divide-circle-fill me-2"></i> División
            </button>
        </form>
        <form asp-controller="Home" asp-action="Index" method="get" class="mt-3">
            <button type="submit" class="btn btn-primary rounded-3 shadow-sm">
                <i class="bi bi-arrow-left-circle me-1"></i> Volver
            </button>
        </form>

    </div>
</div>
