<div class="languages">

    <h2>Hola, mundo!</h2>

    <div class="container-languages">

        <div class="container-item">
            <p>¿Deseas ver el listado de Idiomas por Nombre?</p>
            <a href="@Url.Action("ConsultarIdiomasPorNombre", "Language")" class="btn btn-primary">
                Listado de Idiomas por Nombre
            </a>
        </div>

        <div class="container-item">
            <p>¿Deseas ver el listado de Idiomas por Código?</p>
            <a href="@Url.Action("ConsultarIdiomasPorCodigo", "Language")" class="btn btn-primary">
                Listado de Idiomas por Código
            </a>
        </div>

        <div class="container-item">
            <p>¿Deseas ver el Idioma de un País?</p>
            <a href="@Url.Action("VistaConsultarIdioma", "Language")" class="btn btn-primary">
                Idiomas por Nombre
            </a>
        </div>

        <div class="container-item">
            <p>¿Deseas ver el listado de Idiomas por Nombre?</p>
            <a href="@Url.Action("VistaConsultarIdiomaISO", "Language")" class="btn btn-primary">
                Idiomas por Código
            </a>
        </div>
   
    </div>

</div>