<div class="container-languages">

    <form asp-controller="Language" asp-action="ConsultarIdioma" method="post" class="form-check">
        <label for="idioma">Código ISO del Idioma</label>
        <input type="text" id="idioma" name="idioma" required class="form-control" placeholder="Ej: GT, US, MX" />
        <button type="submit" class="btn btn-primary">Consultar Idioma</button>
    </form>

    <div >

    </div>

</div>