@model PeticionVacacionesModel
@{
    ViewData["Title"] = "Vacation Request Page";
}

<div class="form-group">
	<form class="form-register" asp-controller="Home" asp-action="" method="post">

        <label>Identificador del Empleado</label>
        <input type="text" asp-for="IdEmpleado"/>
        <span style="color: red;" asp-validation-for="IdEmpleado"></span>

		<label>Fecha de Inicio</label>
		<input type="date" asp-for="FechaInicio" />
		<span style="color: red;" asp-validation-for="FechaInicio"></span>

		<label>Fecha de Fin</label>
		<input type="date" asp-for="FechaFin" />
		<span style="color: red;" asp-validation-for="FechaFin"></span>

		<label>Estado</label>
		<select asp-for="Estatus">
			<option value="Pendiente">Pendiente</option>
			<option value="Aprobado">Aprobado</option>
			<option value="Rechazado">Rechazado</option>
		</select>
		<span style="color: red;" asp-validation-for="Estatus"></span>

		<label>Comentarios</label>
		<input type="text" asp-for="Comentarios" />
		<span style="color: red;" asp-validation-for="Comentarios"></span>

		<button type="submit"><b>Guardar</b></button>

    </form>
</div>