<link rel="stylesheet" href="/css/Inicio.css">



<body>
    <div class="btn-group" role="group" style="text-align:right">
        <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Menú
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/Login/Logout">Cerrar sesion</a></li>
        </ul>
    </div>
    <h1>INICIO</h1>
    <div class="contenedor-crud">

        <!-- CREAR -->
        <div class="tarjeta-crud">
            <img src="~/images/agregarp.png" alt="Crear imagen">
            <a href="/Producto/Crear" class="btn btn-dark">Crear producto</a>
        </div>
        <!-- VER -->
        <div class="tarjeta-crud">
            <img src="~/images/lista.png" alt="Ver imagen">
            <a href="/Producto/Ver" class="btn btn-dark">Ver productos</a>
        </div>
    </div>
    <div class="imagen-logo">
        <img src="~/images/logoDukes.png" alt="Imagen logo">
    </div>

</body>

<script type="text/javascript">
    var sesionActiva = sessionStorage.getItem('sesionActiva');

    if (!sesionActiva || sesionActiva !== 'true') {
        // Borra sesión en el servidor si querés
        window.location.href =  '@Url.Action("Login", "Login")';

    }

    var nombreSesion = '@(Context.Session.GetString("Correo"))';

    if (!nombreSesion || nombreSesion === '' || nombreSesion === 'null' || nombreSesion === 'undefined') {
        window.location.href = '@Url.Action("Login", "Login")';
    }
</script>
