@model UsuarioViewModel
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/js/sweetAlert.js"></script>
<head>
    <link rel="stylesheet" href="~/css/login.css" />
</head>

<form id="loginForm" asp-action="Login" asp-controller="Login" method="post" class="formulario-login">
    <div class="campo-formulario">
        <label asp-for="Correo" class="form-label"></label>
        <input id="Correo" asp-for="Correo" type="email" class="form-control" placeholder="Ingrese su correo electrónico" required>
        
    </div>

    <div class="campo-formulario">
        <label asp-for="Password" class="form-label"></label>
        <input id="Password" asp-for="Password" type="password" class="form-control" placeholder="Contraseña" required />
    </div>

    <div class="boton-contenedor">
        <button type="submit" class="btn button">Ingresar</button>
    </div>
</form>


<script>
    document.getElementById('loginForm').addEventListener('submit', function(e) {
        let correo = document.getElementById('Correo').value;
        let password = document.getElementById('Password').value;
        
        if (correo === "" || password === ""){
            e.preventDefault();
            alertaErrorSesion("Correo o contraseña no válidos");
            return;
        } else{
            e.preventDefault();
            alertaSesionExitosa("¡¡Bienvenido/a al sistema!!")
        }.then(() => {
                document.getElementById('loginForm').submit();
        });
    }
</script>


