@model FakeProduct

<h1>Vista crear</h1>


<br />
<br />
<form asp-action="CreateProduct" method="post">
	<label>id</label>
	<input type="number" class="form-control" asp-for="id" required />
	
	<label>Nombre</label>
	<input  type="text" class="form-control" asp-for="description" required/>
	<label>Precio</label>
	<input type="number" class="form-control" asp-for="price" required />
	<label>Descripcion</label>
	<input type="text" class="form-control" asp-for="description" required />
	<label>Categoría</label>
	<input type="text" class="form-control" asp-for="category" required />

	<br />
	<button type="submit" class="btn btn-success">Guardar</button>
	<button asp-action="ShowProduct" class="btn-sm btn btn-secondary">Cancelar</button>
</form>
