@model UsuarioModel

@{
    ViewData["Title"] = "Iniciar Sesión";
}

<div class="container mt-5 animate__animated animate__fadeIn">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <h2 class="text-center mb-4"><i class="bi bi-box-arrow-in-right"></i> Iniciar Sesión</h2>

            <form method="post" asp-controller="Login" asp-action="Login">
                <div class="mb-3">
                    <label for="usrNombre" class="form-label"><i class="bi bi-person-circle"></i> Usuario</label>
                    <input type="text" id="usrNombre" name="usrNombre" class="form-control" required />
                </div>

                <div class="mb-4">
                    <label for="password" class="form-label"><i class="bi bi-lock-fill"></i> Contraseña</label>
                    <input type="password" id="password" name="password" class="form-control" required />
                </div>

                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-box-arrow-in-right"></i> Entrar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        @if (TempData["Error"] != null)
        {
            <text>mostrarAlertaError("Usuario o contraseña incorrectos");</text>
        }
    </script>
}
