 #Ignorar la carpeta de configuración de Visual Studio 
.vs/ 
*.suo 
*.user 
*.cache 
*.log 
*.sdf 
*.VC.db 


# Ignorar archivos de compilación 
bin/ 
obj/ 
out/ 


# Ignorar paquetes de NuGet 
packages/ 
*.nupkg 
project.lock.json 


# Ignorar configuraciones de usuario 
*.csproj.user 
*.dbmdl 
*.opendb 
*.vscode/ 


# Ignorar archivos generados por Rider y Resharper 
.idea/ 
*.dotCover 
*.sln.iml 


# Ignorar configuraciones de depuración 
*.pdb 
*.ilk 
*.obj 
*.suo 


# Ignorar backups y archivos temporales 
*~  
*.bak 
Thumbs.db