<h1>Informacion de paises</h1>

<a asp-controller="Paises" asp-action="ListadoDePaises" class="btn btn-primary">Listado De Paises</a>
<br />
<br />
<a asp-controller="Paises" asp-action="PaisPorCodigo" class="btn btn-primary">Pais Por Codigo</a>
<br />
<br />
<a asp-controller="Paises" asp-action="CodigoPorPais" class="btn btn-primary">Codigo Por Pais</a>