USE [master]
GO
/****** Object:  Database [DojoProgramacion]    Script Date: 7/05/2025 19:38:48 ******/
CREATE DATABASE [DojoProgramacion]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DojoProgramacion', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DojoProgramacion.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DojoProgramacion_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DojoProgramacion_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DojoProgramacion].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DojoProgramacion]
GO
/****** Object:  Table [dbo].[Candidatos]    Script Date: 7/05/2025 19:38:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Candidatos](
	[IdCandidato] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCandidato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lenguajes]    Script Date: 7/05/2025 19:38:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lenguajes](
	[IdLenguaje] [int] IDENTITY(1,1) NOT NULL,
	[NombreLenguaje] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdLenguaje] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ejercicios]    Script Date: 7/05/2025 19:38:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ejercicios](
	[IdEjercicio] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [nvarchar](100) NULL,
	[Descripcion] [nvarchar](max) NULL,
	[IdCategoria] [int] NULL,
	[IdLenguaje] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEjercicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Resultados]    Script Date: 7/05/2025 19:38:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resultados](
	[IdResultado] [int] IDENTITY(1,1) NOT NULL,
	[IdCandidato] [int] NULL,
	[IdEjercicio] [int] NULL,
	[FechaEjecucion] [date] NULL,
	[Puntaje] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdResultado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VistaResultadosDetallados]    Script Date: 7/05/2025 19:38:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[VistaResultadosDetallados] AS
SELECT 
    c.Nombre AS NombreCandidato, 
    e.Titulo AS TituloEjercicio, 
    l.NombreLenguaje AS Lenguaje, 
    r.Puntaje, 
    r.FechaEjecucion
FROM Resultados r
INNER JOIN Candidatos c ON r.IdCandidato = c.IdCandidato
INNER JOIN Ejercicios e ON r.IdEjercicio = e.IdEjercicio
INNER JOIN Lenguajes l ON e.IdLenguaje = l.IdLenguaje;
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 7/05/2025 19:38:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[NombreRol] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permisos]    Script Date: 7/05/2025 19:38:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permisos](
	[IdPermiso] [int] IDENTITY(1,1) NOT NULL,
	[NombrePermiso] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPermiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CandidatosRoles]    Script Date: 7/05/2025 19:38:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CandidatosRoles](
	[IdCandidato] [int] NOT NULL,
	[IdRol] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCandidato] ASC,
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolesPermisos]    Script Date: 7/05/2025 19:38:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolesPermisos](
	[IdRol] [int] NOT NULL,
	[IdPermiso] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC,
	[IdPermiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VistaPermisosCandidatos]    Script Date: 7/05/2025 19:38:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VistaPermisosCandidatos] AS
SELECT 
    c.Nombre AS NombreCandidato, 
    r.NombreRol AS Rol, 
    p.NombrePermiso AS Permiso
FROM Candidatos c
INNER JOIN CandidatosRoles cr ON c.IdCandidato = cr.IdCandidato
INNER JOIN Roles r ON cr.IdRol = r.IdRol
INNER JOIN RolesPermisos rp ON r.IdRol = rp.IdRol
INNER JOIN Permisos p ON rp.IdPermiso = p.IdPermiso;
GO
/****** Object:  View [dbo].[VistaEjercicios]    Script Date: 7/05/2025 19:38:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VistaEjercicios]
AS
SELECT 
    e.Titulo,
    COUNT(r.IdResultado) AS VecesResuelto
FROM Ejercicios e
LEFT JOIN Resultados r ON e.IdEjercicio = r.IdEjercicio
GROUP BY e.Titulo;
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 7/05/2025 19:38:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[IdCategoria] [int] IDENTITY(1,1) NOT NULL,
	[NombreCategoria] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogErrores]    Script Date: 7/05/2025 19:38:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogErrores](
	[IdError] [int] IDENTITY(1,1) NOT NULL,
	[Procedimiento] [varchar](100) NULL,
	[MensajeError] [varchar](4000) NULL,
	[FechaError] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdError] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogsResultados]    Script Date: 7/05/2025 19:38:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogsResultados](
	[IdLog] [int] IDENTITY(1,1) NOT NULL,
	[IdCandidato] [int] NULL,
	[IdEjercicio] [int] NULL,
	[Puntaje] [int] NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LogErrores] ADD  DEFAULT (getdate()) FOR [FechaError]
GO
ALTER TABLE [dbo].[LogsResultados] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[CandidatosRoles]  WITH CHECK ADD FOREIGN KEY([IdCandidato])
REFERENCES [dbo].[Candidatos] ([IdCandidato])
GO
ALTER TABLE [dbo].[CandidatosRoles]  WITH CHECK ADD FOREIGN KEY([IdRol])
REFERENCES [dbo].[Roles] ([IdRol])
GO
ALTER TABLE [dbo].[Ejercicios]  WITH CHECK ADD FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[Categorias] ([IdCategoria])
GO
ALTER TABLE [dbo].[Ejercicios]  WITH CHECK ADD FOREIGN KEY([IdLenguaje])
REFERENCES [dbo].[Lenguajes] ([IdLenguaje])
GO
ALTER TABLE [dbo].[Resultados]  WITH CHECK ADD FOREIGN KEY([IdCandidato])
REFERENCES [dbo].[Candidatos] ([IdCandidato])
GO
ALTER TABLE [dbo].[Resultados]  WITH CHECK ADD FOREIGN KEY([IdEjercicio])
REFERENCES [dbo].[Ejercicios] ([IdEjercicio])
GO
ALTER TABLE [dbo].[RolesPermisos]  WITH CHECK ADD FOREIGN KEY([IdPermiso])
REFERENCES [dbo].[Permisos] ([IdPermiso])
GO
ALTER TABLE [dbo].[RolesPermisos]  WITH CHECK ADD FOREIGN KEY([IdRol])
REFERENCES [dbo].[Roles] ([IdRol])
GO
/****** Object:  StoredProcedure [dbo].[AsignarRol]    Script Date: 7/05/2025 19:38:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AsignarRol]
    @IdCandidato INT,
    @IdRol INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	IF NOT EXISTS (
        SELECT 1 FROM CandidatosRoles 
        WHERE IdCandidato = @IdCandidato AND IdRol = @IdRol
    )
    BEGIN
        INSERT INTO CandidatosRoles (IdCandidato, IdRol)
        VALUES (@IdCandidato, @IdRol);
    END
    ELSE
    BEGIN
        PRINT 'Este candidato ya cuenta con un rol';
    END
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerPermisosRol]    Script Date: 7/05/2025 19:38:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ObtenerPermisosRol]
    @NombreRol NVARCHAR(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT 
        p.NombrePermiso
    FROM Roles r
    INNER JOIN RolesPermisos rp ON r.IdRol = rp.IdRol
    INNER JOIN Permisos p ON rp.IdPermiso = p.IdPermiso
    WHERE r.NombreRol = @NombreRol;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerResultadosPorLenguaje]    Script Date: 7/05/2025 19:38:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ObtenerResultadosPorLenguaje]
    @NombreLenguaje NVARCHAR(100)
AS
BEGIN
    BEGIN TRY
        SELECT 
            c.Nombre AS NombreCandidato,
            e.Titulo AS TituloEjercicio,
            l.NombreLenguaje,
            r.Puntaje,
            r.FechaEjecucion
        FROM Resultados r
        INNER JOIN Candidatos c ON r.IdCandidato = c.IdCandidato
        INNER JOIN Ejercicios e ON r.IdEjercicio = e.IdEjercicio
        INNER JOIN Lenguajes l ON e.IdLenguaje = l.IdLenguaje
        WHERE l.NombreLenguaje = @NombreLenguaje;
    END TRY
    BEGIN CATCH
        PRINT 'ERROR: ' + ERROR_MESSAGE();
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[RegistrarResultado]    Script Date: 7/05/2025 19:38:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[RegistrarResultado] 
	@IdCandidato INT,
	@IdEjercicio INT,
	@Puntaje INT
AS
BEGIN
	BEGIN TRY
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

		INSERT INTO Resultados (IdCandidato, IdEjercicio, FechaEjecucion, Puntaje)
        VALUES (@IdCandidato, @IdEjercicio, GETDATE(), @Puntaje);

        INSERT INTO LogsResultados (IdCandidato, IdEjercicio, Puntaje)
        VALUES (@IdCandidato, @IdEjercicio, @Puntaje);

	END TRY
	BEGIN CATCH
		INSERT INTO LogErrores (MensajeError, procedimiento)
        VALUES (ERROR_MESSAGE(),'RegistrarResultado ');
	END CATCH
END
GO
USE [master]
GO
