

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>React en MVC</title>
    <link href="~/react-app/build/static/css/main.css" rel="stylesheet">
</head>
<body>
    <div id="root"></div>

    <script src="~/react-app/build/static/js/main.js"></script>
</body>
</html>
