@model UsuarioViewModel;

@{
    ViewData["Title"] = "Eliminar Usuario";
}

<h1 class="text-center">Eliminar Usuario</h1>

<form asp-action="EliminarUsuario" asp-controller="Home" method="post" class="row g-3">
    <input type="hidden" asp-for="Id" />

    <div class="col-md-2">
        <label asp-for="Id" class="form-label">ID Usuario</label>
        <input asp-for="Id" type="text" class="form-control" placeholder="Id del usuario" readonly>
        <span style="color:red;" asp-validation-for="Id"></span>
    </div>

    <div class="col-md-2">
        <label asp-for="Estado" class="form-label">Estado</label>
        <select asp-for="Estado" id="inputState" class="form-select" readonly>
            <option value="Activo" selected>Activo</option>
            <option value="Inactivo">Inactivo</option>
        </select>
        <span style="color:red;" asp-validation-for="Estado"></span>
    </div>

    <div class="col-md-8">
        <label asp-for="Puesto" class="form-label"></label>
        <input asp-for="Puesto" class="form-control" list="datalistOptions" placeholder="Listado de puestos" readonly>
        <span style="color:red;" asp-validation-for="Puesto"></span>

        <datalist id="datalistOptions">
            <option value="Analista Desarrollador"></option>
            <option value="QA"></option>
            <option value="Soporte"></option>
            <option value="Project Manager"></option>
        </datalist>
    </div>

    <div class="col-md-6">
        <label asp-for="Nombre" class="form-label"></label>
        <input asp-for="Nombre" type="text" class="form-control" placeholder="Nombre del usuario" readonly>
        <span style="color:red;" asp-validation-for="Nombre"></span>
    </div>

    <div class="col-md-6">
        <label asp-for="Apellido" class="form-label"></label>
        <input asp-for="Apellido" type="text" class="form-control" placeholder="Apellido del usuario" readonly>
        <span style="color:red;" asp-validation-for="Apellido"></span>
    </div>

    <div class="col-md-4">
        <label asp-for="Correo" class="form-label"></label>
        <input asp-for="Correo" type="email" class="form-control" placeholder="correo@Info.com" readonly>
        <span style="color:red;" asp-validation-for="Correo"></span>
    </div>

    <div class="col-md-4">
        <label asp-for="Telefono" class="form-label"></label>
        <input asp-for="Telefono" type="number" class="form-control" placeholder="Telefono del usuario" readonly>
        <span style="color:red;" asp-validation-for="Telefono"></span>
    </div>

    <div class="col-md-4">
        <label asp-for="FechaNacimiento" class="form-label"></label>
        <input asp-for="FechaNacimiento" type="date" class="form-control" placeholder="Fecha de nacimiento" readonly>
        <span style="color:red;" asp-validation-for="FechaNacimiento"></span>
    </div>

    <div class="col-12">
        <label asp-for="Direccion" class="form-label"></label>
        <textarea asp-for="Direccion" type="text" class="form-control" placeholder="Direccion del usuario" readonly></textarea>
        <span style="color:red;" asp-validation-for="Direccion"></span>
    </div>

    <div class="col-6">
        <button style="min-width:100%;" type="submit" class="btn btn-danger">Eliminar Usuario</button>
    </div>

    <div class="col-6">
        <button style="min-width:100%;" class="btn btn-primary"> Regresar </button>
    </div>

</form>

