ALTER PROCEDURE sp_AltaUsuario
	@usuario VARCHAR(50),
	@nom_usuario VARCHAR(100),
	@contrasenia VARCHAR(255),
	@fk_id_estado INT,
	@id_rol INT 
AS
BEGIN
	SET NOCOUNT ON;

	INSERT INTO Usuarios (usuario, nom_usuario, contrasenia, fk_id_estado)
	VALUES (
		@usuario,
		@nom_usuario,
		HASHBYTES('SHA2_256', @contrasenia),
		@fk_id_estado
	);

	DECLARE @id_usuario INT = SCOPE_IDENTITY();

	-- Insertar en Usuario_Rol
	INSERT INTO Usuario_Rol (id_usuario, id_rol)
	VALUES (@id_usuario, @id_rol);

	-- Bitácora
	INSERT INTO Bitacora (fk_id_usuario, accion)
	VALUES (
		@id_usuario,
		'Se dio de alta al usuario ' + @usuario
	);
END;
