@model UsuarioViewModel;

@{
    ViewData["Title"] = "Ver";
}

<h1>Ver Datos Usuario</h1>

<br />

<form asp-action="" asp-controller="">
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Datos Personales
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body row g-3">
                    <div class="col-md-6">
                        <label asp-for="Nombre" class="form-label"></label>
                        <input type="email" class="form-control" placeholder="Nombre del usuario" disabled>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Apellido" class="form-label"></label>
                        <input type="password" class="form-control" placeholder="Apellido del usuario" disabled>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Correo" class="form-label"></label>
                        <input type="email" class="form-control" placeholder="correo@Info.com" disabled>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Puesto" class="form-label"></label>
                        <input type="email" class="form-control" placeholder="Puesto del usuario" disabled>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="FechaNacimiento" class="form-label"></label>
                        <input type="date" class="form-control" placeholder="Fecha de nacimiento" disabled>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Puesto" class="form-label"></label>
                        <input class="form-control" list="datalistOptions" placeholder="Listado de puestos" disabled>
                        <datalist id="datalistOptions">
                            <option value="Analista Desarrollador"></option>
                            <option value="QA"></option>
                            <option value="Soporte"></option>
                            <option value="Project Manager"></option>
                        </datalist>
                    </div>
                    <div class="col-6">
                        <label asp-for="Telefono" class="form-label"></label>
                        <input type="number" class="form-control" placeholder="Telefono del usuario" disabled>
                    </div>
                    <div class="col-md-6">
                        <label for="inputState" class="form-label">State</label>
                        <select id="inputState" class="form-select" disabled>
                            <option value="Activo" selected>Activo</option>
                            <option value="Inactivo">Inactivo</option>
                        </select>
                    </div>
                    <div class="col-12">
                        <label asp-for="Direccion" class="form-label"></label>
                        <textarea type="text" class="form-control" placeholder="Direccion del usuario" disabled></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Datos de Proyecto
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body row g-3">
                    <div class="col-md-6">
                        <label asp-for="Proyectos.NombreProyecto" class="form-label"></label>
                        <input type="email" class="form-control" placeholder="Nombre del proyecto" disabled>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Proyectos.Descripcion" class="form-label"></label>
                        <input type="email" class="form-control" placeholder="descripcion" disabled>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr />
    <br />

    <div class="col-12">
        <button type="submit" class="btn btn-primary">Regresar</button>
    </div>
</form>



