@model IEnumerable<wbappsccs.models.Empleados>
@{
    ViewData["Title"] = "Home Page";
}
<h2>@ViewData["titele"]</h2>
<table>
    <thead>
        <tr>
            <th>NOMBRE</th>
            <th>PUESTO</th>
            <th>SALARIO</th>
            <th>FECHA DE CONTRATACION</th>
        </tr>
    </thead>
    <tbody>


    </tbody>
</table>
<a href="@Url.Action("crear")" class="btn-success"> AGREGAR EMPLEADO</a>