@{
    ViewData["Title"] = "CV";
}

<div class="main-container">

    <aside class="sidebar">
        <section class="section-sidebar">

            <div class="dev">
                <h1>
                    JOSÉ
                    </br>
                    <b>PERALTA</b>
                </h1>

                <div class="dev-position">
                    <p><b>PROGRAMADOR JR</b></p>
                </div>
            </div>

            <div class="dev-image">
                <img src="assets/images/yo.png" alt="Yo">
            </div>

            <section class="section-summary">
                <h2><b>RESUMEN</b></h2>
                <p>Desarrollador full stack jr. Con el deseo, actitud, y motivación para adquirir y aprender nuevas experiencias y habilidades en el ámbito de la programación.</p>
            </section>

            <section class="section-academics">
                <h2><b>ACADEMICO</b></h2>
                <p>Estudiante de Ingeniería en Sistemas (3er semestre)</p>
                <p id="p_underline"><b>UNIVERSIDAD MARIANO GÁLVEZ</b></p>
                <p>Perito en Informática (ene-2021 al nov-2023)</p>
                <p id="p_underline"><b>ENTRO EDUCATIVO TÉCNICO LABORAL KINAL</b></p>
            </section>

        </section>
    </aside>

    <div class="main-content">

        <section class="section-info">

            <div class="part-one">
                <p><i class="fas fa-envelope"></i> jopalvarado1@gmail.com</p>
                <p><i class="fas fa-phone"></i> +502 4574-4722</p>
            </div>

            <div class="part-two">
                <i class="fas fa-map-marker-alt"></i>
                <p> Km 19.3 ruta al Pacifico, Residencial Alamedas de Santa Clara, Villa Nueva</p>

            </div>
            
        </section>


        <section class="section-content">
            <h2><b>EXPERIENCIA LABORAL</b></h2>
            <div class="experience">
                <p class="date">Ago. 2023 - Ago. 2024</p>
                <h4>Visión Consultores, S.A.</h4>
                <h3><b>DESARROLLADOR FULL STACK JR</b></h3>
                <ul>
                    <li>Desarrollo de aplicaciones web con html, css y bootstrap en R (utilizando la tecnología Shiny)</li>
                    <li>Experiencia en el manejo de bases de datos relacionales, específicamente MySQL</li>
                    <li>Optimización web</li>
                    <li>Experiencia en la creación de reportes y dashboards personalizados utilizando herramientas de visualización de datos</li>
                </ul>
            </div>
        </section>

        <section class="section-skills">
            <h2>HABILIDADES</h2>
            <ul>
                <li>HTML y CSS</li>
                <li>JavaScript</li>
                <li>Java</li>
                <li>R</li>
                <li>ReactJs</li>
                <li>NodeJs</li>
                <li>MySQL</li>
                <li>MongoDB</li>
            </ul>
        </section>

    </div>
	
</div>

