html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Estilos para la página de productos */
.container-products {
    display: grid;
    grid-template-columns: 1fr 4fr; /* Sidebar ocupa 1 parte, productos 5 partes */
    gap: 20px; /* Espacio entre columnas */
    width: 100%;
    height: 100vh; /* Altura completa de la ventana */
    overflow-y: auto; /* Desplazamiento vertical si el contenido es más grande que la ventana */
}

.sidebar {
    width: 100%;
    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.10); /* Sombra en todos los lados excepto el izquierdo */
}

.sidebar ul {
    padding: 0; /* Elimina el padding de la lista */
    margin: 0; /* Elimina el margen de la lista */
    background: #f8f9fa; /* Color de fondo */
}

.sidebar li {
    list-style: none; /* Elimina los puntos de las listas */
    padding: 5px; /* Agrega un relleno interno */
}

.sidebar li:hover {
    background: #e9ecef; /* Color de fondo al pasar el mouse */
}

.sidebar i {
    margin: 40px auto; /* Espaciado entre el icono y el texto */
    margin-left: 20px; /* Espaciado a la izquierda */
    margin-right: 20px; /* Espaciado a la derecha */
    font-size: 16px; /* Tamaño del icono */
}

.sidebar a {
    text-decoration: none;
    color: black;
    transition: color 0.5s ease, background-color 0.5s ease; /* Efectos de transición en el color de la letra y el background */
    font-size: 1.5em; /* Tamaño de fuente */
}

.sidebar a:hover {
    color: #b0b0b0; /* Cambia el color del texto al pasar el mouse */
}

.section-products {
    width: 100%;
    padding-right: 20px; /* Espacio a la derecha por fuera*/
}

.section-products h2{
    text-align: center; /* Centra el texto */
    margin: 20px 0; /* Espacio superior e inferior */
    font-size: 3em; /* Tamaño de fuente */
}

.section-products a {
    text-decoration: none;
    color: white;
    font-size: 1em;
}


/* CSS para los botones de las alertas SweetAlert */
.btn-confirm {
    background-color: #0d6efd; /* Azul */
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px; /* Espacio entre botones */
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.btn-confirm:hover {
    background-color: #0f62dd; /* Azul más oscuro */
}

.btn-deny {
    background-color: #4caf50; /* Naranja */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

 .btn-deny:hover {
    background-color: #45a049; /* Naranja más oscuro */
}

.btn-cancel {
    background-color: #f44336; /* Rojo */
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px; /* Espacio entre botones */
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.btn-cancel:hover {
    background-color: #d32f2f; /* Rojo más oscuro */
}
