@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@section Scripts{

    <script>

        // Traemos el nombre completo del Usuario logeado
        var nombreCompleto = HttpContext.Session.GetString("NombreCompleto");

        // Usamos el JSON que vino desde el controlador
		var mensaje = "¡Bienvenido, " + nombreCompleto + "!";

        document.addEventListener("DOMContentLoaded", function () {
            mostrarAlertaExito(mensaje);
        });

    </script>


}