USE [CursoresPablotorres]
GO
/****** Object:  StoredProcedure [dbo].[sp_ingresar_producto]    Script Date: 13/05/2025 17:42:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[sp_ingresar_producto]
    @Nombre VARCHAR(100),
    @Costo DECIMAL(10,2),
    @Tipo VARCHAR(50),
    @Stock INT,
    @FechaRegistro DATE
AS
BEGIN
    INSERT INTO productos (Nombre,Costo,Tipo,Stock,FechaRegistro)
    VALUES (@Nombre,@Costo,@Tipo,@Stock,@FechaRegistro);

    DECLARE @NewId INT = SCOPE_IDENTITY();
	Print 	@NewId ;		
    INSERT INTO logs(Entidad,EntidadId,Accion,Detalle)
    VALUES ('productos', @NewId, 'INSERT', 'Producto ingresado');
END;

