html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.btn-agregar{
    background-color:lightpink;
}
.btn-outline-dark {
    border: 2px solid black;
    color: black;
}
.btn-ver {
    background-color: #5A6E60;
    color:white;
}
.btn-editar {
    background-color: #EFB1A9;
    color: white;
}
.btn-eliminar {
    background-color: #AFA797;
    color: white;
}
.btn-crear {
    background-color: #2D3937;
    color: white;
}