@model pruebaJs2.Models.Producto

<h2>Crear Producto</h2>

<form asp-controller="Producto" asp-action="Crear" method="post">
    <div>
        <label asp-for="Nombre"></label>
        <input asp-for="Nombre" />
    </div>
    
    <div>
        <label asp-for="Precio"></label>
        <input asp-for="Precio" />
    </div>
    
    <div>
        <label asp-for="Categoria"></label>
        <input asp-for="Categoria" />
    </div>

    <button type="submit">Guardar</button>
</form>
