@model usuario_ejemplo
@{
    ViewData["Title"] = "Home Page";
}

<form asp-action="" asp-controller="" method="post">
    <label>Nombre</label>
    <input type="text" asp-for="Nombre" />
    <span
    <imput type="text" />
    <label>Email</label>
    <imput type="text" />
    <label>Contraseña</label>
    <imput type="text" />
    <button type="submit"< registrar</button>
</form>