@{
    ViewData["Title"] = "Inicio";
}
<h2>Bienvenido, @ViewBag.NombreCompleto</h2>

<nav>
    <ul>
        <li><a href="#">Crear</a></li>
        <li><a href="#">Solicitar</a></li>
        <li><a href="#">Autorizar</a></li>
        <li><a href="/login/Logout">Cerrar sesión</a></li>
    </ul>
</nav>