@{
    ViewData["Title"] = "Home Page";
}

<h1>Bienvenido a la tienda JRHG xd</h1>

<a  type="submit" class="btn btn-primary" asp-controller="Producto" asp-action="ShowProd">Productos</a>
<a class="btn btn-outline-primary" asp-controller="FakeStoreAPIREST" asp-action="ShowProd">Consumo API REST</a>
<button class="btn btn-outline-secondary" asp-controller="SOAP" asp-action="ShowProd">Consumo API SOAP</button>