@{
    ViewData["Title"] = "Home Page";
}


<h1>Bienvenido a la tienda JRHG xd</h1>
<div id="arit">
    <a type="submit" class="btn btn-primary" asp-controller="Producto" asp-action="ShowProd">Productos</a>
    <a type="submit" class="btn btn-success" asp-controller="FakeStoreAPIREST" asp-action="ShowProduct">Consumo API REST</a>
    <a type="submit" class="btn btn-secondary" asp-controller="Calculator" asp-action="Index">Consumo API SOAP</a>
</div>