USE [DBProyectoGrupalDojoGeko]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalcularDiasVacacionesAcumulados]    Script Date: 31/07/2025 11:11:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Función para calcular días de vacaciones acumulados
ALTER FUNCTION [dbo].[fn_CalcularDiasVacacionesAcumulados](
    @FechaIngreso DATETIME
)
RETURNS DECIMAL(5, 2)
AS
BEGIN
    DECLARE @DiasAcumulados DECIMAL(5, 2);
    DECLARE @MesesTrabajados INT;
    
    -- Calcular meses trabajados desde la fecha de ingreso
    SET @MesesTrabajados = DATEDIFF(MONTH, @FechaIngreso, GETDATE());
    
    -- Si es negativo (fecha futura), retornar 0
    IF @MesesTrabajados < 0
        SET @MesesTrabajados = 0;
    
    -- Calcular días acumulados: 1.25 días por mes
    SET @DiasAcumulados = @MesesTrabajados * 1.25;
    
    RETURN @DiasAcumulados;
END;
