@model ErrorViewModel
@{
    ViewData["Title"] = "Página no encontrada";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Asegúrate de tener el layout correcto
}

<figure class="text-center mt-5">
    <div class="sad-mac"></div>
    <figcaption class="mt-4 fs-4 fw-bold text-white">
        <span class="sr-text">Error 404: Not Found</span>
        <span class="e">E</span>
        <span class="r">r</span>
        <span class="r">r</span>
        <span class="o">o</span>
        <span class="r">r</span>
        <span class="_4"> </span>
        <span class="_0">4</span>
        <span class="_4">0</span>
        <span class="n">: </span>
        <span class="n">N</span>
        <span class="o">o</span>
        <span class="t">t</span>
        <span class="f"> </span>
        <span class="f">F</span>
        <span class="o">o</span>
        <span class="u">u</span>
        <span class="n">n</span>
        <span class="d">d</span>
    </figcaption>
</figure>
