@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "ApiUsuarios";
}

<h2>Lista de usuarios</h2>
<ul id="ListaUsuarios"></ul>

<script>
    async function cargarUsuarios(){
        try {
            const respuesta = await fetch("https://jsonplaceholder.typicode.com/users");
            const usuarios = await respuesta.json();

            let lista = document.getElementById("ListaUsuarios");
            lista.innerHTML = "";

            usuarios.forEach(usuario => {
                let li = document.createElement("li");
                li.textContent = ` ${usuario.id} |${usuario.name} | ${usuario.email}  | ${usuario.phone}`;
                lista.appendChild(li);
            });
        } catch (error) {
            console.error("Error al cargar usuarios:", error);
        }
    }

    cargarUsuarios();
</script>