@{
	ViewData["Title"] = "Home Page";
}
<h1>🎓 Universidades de todo el mundo 🗺️</h1>

<div id="Espacio-botones">

	<br />
	<hr />
		<a asp-controller="University" asp-action="UniversidadPorPais" type="submit"class="btn btn-success">Consultar universidades por pais</a>
	<hr />
	<a type="submit" asp-controller="University" asp-action="UniversidadPorNombre" class="btn btn-success">Consultar universidad por Nombre</a>
	<hr />

</div>
