<link rel="stylesheet" href="/css/Inicio.css">
<body>

    <h1>INICIO</h1>
    <div class="contenedor">
        <!-- VER -->
        <div class="tarjeta">
            <img src="~/images/universidad.png" alt="Ver imagen">
            <a href="/Universities/Ver" class="btn btn-outline-dark w-100">Ver universidades</a>
        </div>
    </div>

</body>