@model  List<University>

@{
	ViewData["title"] = "Universidades por pais";
}


<h1>Buscar universidad por pais</h1>

<form>
	<label><strong>Pais</strong></label>
	<input name="nombrePais" type="text" class="form-control" placeholder="Ingresa un país ejemplo: 'Guatemala' " required/>

	<br />
	<button class="btn btn-outline-success">Consultar🔍</button>
</form>


<br />

@foreach(var universidad in Model)
{
	<ul>
		<li>@universidad.name</li>
	</ul>
}