<!DOCTYPE <html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<title>@ViewData["title"]</title>
		<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
		<link rel="stylesheet" href="~/css/Login.css" />

	</head>
	<body>
		<main>
			@RenderBody()
		</main>
	</body>
</html>