
@{
	ViewData["title"] = "Calculadora";
}
<h1>Operacines Aritmeticas</h1>
<br>
<div id="arit">
	<a class="btn btn-outline-primary" asp-action="Add">Sumar ➕</a>
	<a class="btn btn-outline-danger" asp-action="Substract">Restar ➖</a>
	<a class="btn btn-outline-success" asp-action="Multiply">Multiplicar ✖️</a>
	<a class="btn btn-outline-warning" asp-action="Divide">Dividir ➗</a>
</div>
