@{
	ViewData["title"] = "Restar";
}

<h1>Restar</h1>


<form method="post" asp-action="Substract">
	<h2>Ingresa los dos numeros a restar</h2>

	<div>
		<laber><strong>Minuendo</strong></laber>
		<input name="a" class="form-control" type="number" required/>
	</div>
	<div>
		<laber><strong>Sustrendo</strong></laber>
		<input name="b" class="form-control" type="number" required/>
	</div>
	<br />
	<button type="submit" class="btn btn-primary">Restar</button>
</form>
<br />
<h2>
	<label><strong>Resultado:</strong></label>
	<output class="alert-success"><strong> @ViewBag.result// </strong></output>
</h2>