@{
    ViewData["Title"] = "Home  Page";
}

@ViewData["Title"]

<div class="text-center">
    <h1 class="display-4">Bienvenido usuario</h1>
</div>

<div>
    <button  asp-action="Prodcuto"  metthod="HttpGet" class="btn btn-primary">Prodcutos</button>

</div>