<div class="container-language">
    <div class="container-item">

        <form asp-controller="Language" asp-action="ConsultarIdiomaISO" method="post" class="form-language">
            <label for="idioma">Idioma que deseas consultar</label>
            <input type="text" id="idioma" name="idioma" required class="form-control" placeholder="Ej: GT, US, MX" />
            <button type="submit" class="btn btn-primary">Consultar Código ISO</button>
        </form>

        <div>
        </div>

    </div>
</div>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {

        @* Mostrar error *@
        @if (ViewBag.Error != null)
        {
            <text>
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: '@ViewBag.Error'
                            });
            </text>
        }

        @* Mostrar resultado *@
        @if (ViewBag.Resultado != null)
        {
            <text>
                            Swal.fire({
                                icon: 'info',
                                title: 'Resultado de la Consulta',
                                html: `<pre style="text-align: left;">@Html.Raw(ViewBag.Resultado)</pre>`,
                                customClass: {
                                    popup: 'swal-wide'
                                }
                            });
            </text>
        }

        });
    </script>
}