@model ProductoViewModel

@{
    ViewData["Title"] = "Agregar Producto";
}
<div class="container">
<h1>Agregar producto</h1>
    <form id="productoForm" asp-action="" asp-controller="" method="post" class="row g-3">
    <div class="col-md-6">
        <label asp-for="NombreProducto" class="form-label"></label>
            <input id="Nombre" asp-for="NombreProducto" type="text" class="form-control" placeholder="Nombre del producto" required>

            <label asp-for="Descripcion" class="form-label"></label>
            <input id="Nombre" asp-for="Descripcion" type="text" class="form-control" placeholder="Descripcion" required>

            <label asp-for="Cantidad" class="form-label"></label>
            <input id="Nombre" asp-for="Cantidad" type="number" class="form-control" required>

    </div>
        <div class="col-6">
            <button type="submit" class="btn btn-sucess">Agregar producto</button>
        </div>
    </form>

</div>

<script>
    // Función para validar el formulario
    document.getElementById('productoForm').addEventListener('submit', function(event) {
        let valid = true;

         // Validación de Nombre (solo letras)
        const nombre = document.getElementById('NombreProducto').value;
        if (!nombre.match(/^[A-Za-záéíóúÁÉÍÓÚÑñ\s]+$/)) {
            valid = false;
            const errorMessage = "El nombre solo debe contener letras.";
        } 

        const descripcion = document.getElementById('Descripcion').value;
        if (!nombre.match(/^[A-Za-záéíóúÁÉÍÓÚÑñ\s]+$/)) {
            valid = false;
            const errorMessage = "La descripcion solo debe contener letras.";
        }

        if (!valid) {
            event.preventDefault();
        }

</script>