@{
    ViewData["Title"] = "Acceso Denegado - GEKO Sistemas de Seguridad";
    Layout = null;
    var referer = Context.Request.Headers["Referer"].ToString();
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>@ViewData["Title"]</title>

    <link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <link rel="stylesheet" href="~/css/error-403.css" />
</head>
<body>
    <a href="@Url.Action("Index", "Home")" class="geko-logo-link">
        <img src="~/imagenes/images.webp" alt="GEKO Logo" class="geko-logo-top-left" />
    </a>

    <div class="message">Acceso Denegado.</div>
    <div class="message2">Intentaste acceder a una pagina para la que no tenias autorizacion previa.</div>

    <div class="content-container">
        <div class="neon">403</div>
        <div class="door-frame">
            <div class="door">
                <div class="rectangle"></div>
                <div class="handle"></div>
                <div class="window">
                    <div class="eye"></div>
                    <div class="eye eye2"></div>
                    <div class="leaf"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="navigation-buttons-container">
        @if (!string.IsNullOrEmpty(referer))
        {
        <a class="action-button" href="@referer">
            <i class="fas fa-arrow-left"></i> Volver a la pagina anterior
        </a>
        }
        else
        {
        <a href="@Url.Action("Index", "Home")" class="action-button">
            <i class="fas fa-home"></i> Ir al Inicio
        </a>
        }
    </div>

</body>
</html>
