@model UsuarioModel

@{
    ViewData["Title"] = "Hola candidatos xd";
}



<form asp-action="Registro" asp-controller="Home" method="post">

    <label> Nombre</label>
    <input type="text" asp-for="Nombre" />
    <span style"color:red" asp-for="Nombre"></span>


    <label> Email</label>
    <input type="text" asp-for="Email" />
    <span style"color:red" asp-for="Email"></span>

    <label> Password</label>
    <input type="text" asp-for="password" />
    <span style"color:red" asp-for="password"></span>
    <button type="submit">Registrar</button>
</form>