@{
    ViewData["Title"] = "Hola candidatos xd";
}

<div class="text-center">
    <h1 class="display-4">HOLA</h1>
    <h2>Este es un ejemplo de un titulo con un h2</h2>
    <h3>hola esto es una prueba otra vez</h3>
</div>
