html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

/*Css productos*/
body {
    font-family: Arial, sans-serif;
    background-color: #ffe0e0;
    margin-bottom: 70px;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

.contenedor-productos {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.producto {
    background-color: #f1f1ed;
    border-radius: 10px;
    width: 400px;
    padding: 30px;
    text-align: center;
}

.button {
    background-color: #454581;
    color: white;
    padding: 10px 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

 .producto button:hover {
    background-color: #8ec3d1;
     color: black;
   }

.card {
    margin-top: 90px;
}
.header-inicio{
    margin-top: 40px;
}
.label-nav{
    font-size:25px;
    font-family:Roboto 'Modern No. 20';
}
.container-table{
    margin-top:80px;
}

.container mt-5{
    margin-top:100px;
}