@model wbSistemaSeguridadMVC.Models.SistemaWS
<h2>Eliminar Sistema</h2>

<p>¿Estàs seguro que desea eliminar el Sistema <strong>@Model.NombreSistema</strong>?</p>

@using (Html.BeginForm("Eliminar", "SistemaWS", FormMethod.Post))
{
    @Html.HiddenFor(m => m.IdSistema)
    <input type="submit" value="Eliminar" class="btn btn-danger" />
    <a href="@Url.Action("Index","SistemaWS")" class="btn btn-secondary">Cancelar</a>
}