@{
    ViewData["Title"] = "Estadísticas";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Estadísticas</h1>
            <div class="alert alert-info" role="alert">
                Estadísticas de la cuenta.
            </div>
            <div class="row">
                <div class="col-md-12 mb-3">
                    <div style="align-content:center " class="card text-white bg-primary">
                        <div class="card-body">
                            <h5 class="card-title">Estadísticas</h5>
                            <p class="card-text">Administra tu perfil y Estadísticas.</p>
                            <!-- Enlace como botón que lleva al controlador Home, acción Index -->
                            <a asp-controller="Home" asp-action="Index" class="btn btn-light">
                                Regresar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>