<h1>Informacion de paises</h1>


<a asp-controller="Paises" asp-action="PaisPorCodigo" class="btn btn-primary">PaisPorCodigo</a>
@* <a asp-controller="Paises" asp-action="PaisPorCodigo" class="btn btn-primary">PaisPorCodigo</a> *@