@model Practica_JavaScript.Models.ProductosViewModel
@{
    ViewData["Title"] = "Edit Product Page";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header text-center">
                    <h4>Editar Producto</h4>
                </div>
                <div class="card-body">
                    <form asp-action="EditarProducto" asp-controller="Productos" method="post">

                        <div class="mb-3">
                            <label asp-for="Codigo" class="form-label"></label>
                            <input asp-for="Codigo" class="form-control" disabled/>
                        </div>

                        <div class="mb-3">
                            <label asp-for="NombreProducto" class="form-label"></label>
                            <input asp-for="NombreProducto" class="form-control" />
                        </div>

                        <div class="mb-3">
                            <label asp-for="Precio" class="form-label"></label>
                            <input asp-for="Precio" class="form-control" />
                        </div>

                        <div class="mb-3">
                            <label asp-for="Talla" class="form-label"></label>
                            <input asp-for="Talla" class="form-control" />
                        </div>

                        <div class="mb-3">
                            <label asp-for="Color" class="form-label"></label>
                            <input asp-for="Color" class="form-control" />
                        </div>

                        <div class="mb-3">
                            <label asp-for="Marca" class="form-label"></label>
                            <input asp-for="Marca" class="form-control" />
                        </div>

                        <div class="mb-3">
                            <label asp-for="Stock" class="form-label"></label>
                            <input asp-for="Stock" class="form-control" />
                        </div>

                        <div class="mb-3">
                            <label asp-for="Descripcion" class="form-label"></label>
                            <textarea asp-for="Descripcion" class="form-control"></textarea>
                        </div>

                        <button type="submit" class="btn btn-primary w-100" onclick="mostrarAlertaExitoAgregar()">Guardar Cambios</button>
                        <button type="submit" class="btn btn-danger w-100" onclick="redireccionarProductos()">Volver</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/js/sweetAlerts.js" asp-append-version="true"></script>
<script>

    function mostrarAlertaExitoAgregar() {
         Swal.fire({
             title: '¿Qué deseas hacer?',
             text: "Selecciona una opción para continuar.",
             icon: 'question',
             showCancelButton: true,
             showDenyButton: true,
             confirmButtonText: 'Guardar',
             cancelButtonText: 'Cancelar',
             customClass: {
             confirmButton: 'btn-confirm', // Clase personalizada para el botón "Agregar"
             cancelButton: 'btn-cancel'   // Clase personalizada para el botón "Cancelar"
             },
             buttonsStyling: false // Desactiva los estilos predeterminados de SweetAlert2
         }).then((result) => {
             if (result.isConfirmed) {
                 // Redirige a la vista de productos
                 window.location.href = '/Productos/Productos';
             } else if (result.dismiss === Swal.DismissReason.cancel) {
                 // Limpia el formulario y no hace nada más
                 document.getElementById('formAgregarProducto').reset();
             }
         });
     }


     function redireccionarProductos(){
          window.location.href = '/Productos/Productos';
     }


</script>