@model _Evaluacion_Mensual_Abril.Models.FakeStore.FSProductsViewModel
@{
    ViewData["Title"] = "Create Product Page";
}

<div class="container login-container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="login-card p-5">

                <h4 class="title-products">Agregar Producto</h4>

                <div class="card-body">
                    <form id="formAgregarProducto" asp-action="CreateProduct" asp-controller="FSProducts" method="post">

                        <div class="mb-3">
                            <label for="Id" class="form-label">ID (Solo enteros):</label>
                            <input type="number" id="Id" name="Id" class="form-control" required />
                        </div>

                        <div class="mb-3">
                            <label for="Title " class="form-label">Titúlo del Producto:</label>
                            <input type="text" id="Title" name="Title" class="form-control" required />
                        </div>

                        <div class="mb-3">
                            <label for="Price " class="form-label">Precio:</label>
                            <input type="text" id="Price " name="Price" class="form-control" required />
                        </div>

                        <div class="mb-3">
                            <label for="Description " class="form-label">Descripción:</label>
                            <textarea type="text" id="Description " name="Description" class="form-control" style="resize: none; overflow: scroll;"></textarea>

                        </div>

                        <div class="mb-3">
                            <label for="    " class="form-label">Categoría:</label>
                            <input type="text" id="Category" name="Category" class="form-control" required />
                        </div>

                        <div class="mb-3">
                            <label for="Image " class="form-label">Imagén:</label>
                            <input type="text" id="Image" name="Image" class="form-control" />
                        </div>

                        <button type="button" class="btn btn-primary w-100" style="margin: 10px auto;" onclick="mostrarAlertaExitoAgregar()">Agregar</button>
                        <button type="button" class="btn btn-danger w-100" style="margin: 10px auto;" onclick="redireccionarProductos()">Volver</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function mostrarAlertaExitoAgregar() {
         Swal.fire({
             title: '¿Qué deseas hacer?',
             text: "Selecciona una opción para continuar.",
             icon: 'question',
             showCancelButton: true,
             showDenyButton: true,
             confirmButtonText: 'Aceptar',
             denyButtonText: 'Agregar nuevamente',
             cancelButtonText: 'Cancelar',
             customClass: {
                 confirmButton: 'btn-confirm',
                 denyButton: 'btn-deny',
                 cancelButton: 'btn-cancel'
             },
             buttonsStyling: false
         }).then((result) => {
             if (result.isConfirmed) {
                 // Enviar el formulario
                 document.getElementById('formAgregarProducto').submit();
             } else if (result.isDenied) {
                 // Limpiar el formulario
                 document.getElementById('formAgregarProducto').reset();
             } else if (result.dismiss === Swal.DismissReason.cancel) {
                 // Cancelado: no hacer nada o limpiar si querés
                 document.getElementById('formAgregarProducto').reset();
             }
         });
     }

     function redireccionarProductos(){
             window.location.href = '/FSProducts/Index';
     }

      var sesionActiva = sessionStorage.getItem('sesionActiva');

      if (!sesionActiva || sesionActiva !== 'true') {
          // Borrar sesión en el servidor
          window.location.href =  '@Url.Action("Login", "Login")';
      }

      var nombreSesion = '@(Context.Session.GetString("UsrNombre"))';

      if (!nombreSesion || nombreSesion === '' || nombreSesion === 'null' || nombreSesion === 'undefined') {
          window.location.href = '@Url.Action("Login", "Login")';
      }

</script>