@model Producto

<h2>Agregar un producto</h2>
<br />
<br />
<br />

<form id="form-add-prod" asp-action="Crear" method="post">
	<div>
		<label asp-for="Nombre"></label>
		<input type="text" asp-for="Nombre" class="form-control" placeholder="Nombre del producto" required />
		<span asp-validation-for="Nombre" class="text-danger"></span>
	</div>

	<div>
		<label asp-for="Precio"></label>
		<input type="number" asp-for="Precio" class="form-control" placeholder="Precio del producto" required />
		<span asp-validation-for="Precio" class="text-danger"></span>

	</div>
	<div>
		<label asp-for="Cantidad"></label>
		<input type="number" asp-for="Cantidad" class="form-control" placeholder="Cantidad de producto" required />
		<span asp-validation-for="Cantidad" class="text-danger"></span>
	</div>
	<br />
	<button type="submit" class="btn btn-success">Guardar</button>
	<a class="btn btn-secondary" asp-action="Index">Cancelar</a>
</form>