@model Reto.Models.Usuario.Usuario

@{
	ViewData["Title"] = "Log In";
}


<div id="login-div">

	<h1>Logearse</h1>
	<br />
	<form asp-action="Login" method="post">
		<div>
			<label asp-for="NombreUsuario"></label>
			<input type="text" class="form-control" asp-for="NombreUsuario" />
		</div>
		<div>
			<label asp-for="Password"></label>
			<input type="password" class="form-control" asp-for="Password" />
		</div>
		<br />
		<button type="submit" class="btn btn-primary">Iniciar</button>

	</form>
</div>

