@{
    ViewData["Title"] = "Panel de Inicio";
}
<div class="container py-4">
    <div class="text-center mb-4">
        <h1 class="display-5 fw-bold">Pabliño Servicio de Países</h1>
        <h2>
             Welcome
            Bienvenue
           Willkommen
            Benvenuto
             Bem-vindo
            R Добро пожаловать 
            ようこそ (Yōkoso)
            欢迎 (Huānyíng)
            환영합니다 (Hwan-yeong-ham-ni-da)
           أهلاً وسهلاً (Ahlan wa sahlan)
           स्वागत हे (Svāgat he)
            ברוכים הבאים (Barukhim haba'im)
            Hoş geldiniz
             Καλώς ήρθατε (Kalós írthate)
             Witaj
            Welkom
             Välkommen
             Velkommen
            Velkommen
             Velkomin
        </h2>
    </div>
    <div class="d-flex justify-content-center">
        <img src="https://n9.cl/5vv9z" alt="Mundo girando" class="img-fluid" style="max-width: 300px;">
    </div>

</div>
