@{
    ViewData["Title"] = "Inicio";
}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="@Url.Action("Index", "Home")">ANIKA'S</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Producto" asp-action="Ver">
                        <i class="bi bi-shop"></i> Tienda de ropa
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">
                        <i class="bi bi-cloud-arrow-down"></i> Consumo API's
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" asp-controller="Product" asp-action="Index">API REST</a></li>
                        <li><a class="dropdown-item" asp-controller="SoapDemo" asp-action="Index">API SOAP</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Login" asp-action="Logout">
                        <i class="bi bi-box-arrow-right"></i> Cerrar sesión
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Carousel -->
<section class="bg-light">
    <div id="carouselExample" class="carousel slide w-100" data-bs-ride="carousel">
        
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>

        
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/images/fondo1-carrousel.jpg" class="d-block w-100 vh-100 object-fit-cover"
                     alt="Moda - Imagen 1">
                <div class="carousel-caption d-none d-md-block">
                    <h1 class="text-shadow text-black">BIENVENIDO A ANIKA'S</h1>
                    <p class="text-shadow text-black">Descubre lo último en moda </p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/images/fondo2-carrousel.jpg" class="d-block w-100 vh-100 object-fit-cover"
                     alt="Ropa casual con estilo - Imagen 2">
                <div class="carousel-caption d-none d-md-block">
                    <h1 class="text-shadow">Estilo que te representa</h1>
                    <p class="text-shadow">Calidad, diseño y actitud</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/images/fondo3-carrousel.jpg" class="d-block w-100 vh-100 object-fit-cover"
                     alt="Tendencias en moda - Imagen 3">
                <div class="carousel-caption d-none d-md-block">
                    <h1 class="text-shadow text-black">Nuevas colecciones</h1>
                    <p class="text-shadow text-black">Explora lo mejor de la temporada</p>
                </div>
            </div>
        </div>

        
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
        </button>
    </div>
</section>

<script type="text/javascript">
    var sesionActiva = sessionStorage.getItem('sesionActiva');

    if (!sesionActiva || sesionActiva !== 'true') {
        // Borra sesión en el servidor
        window.location.href =  '@Url.Action("Login", "Login")';

    }

    var nombreSesion = '@(Context.Session.GetString("Correo"))';

    if (!nombreSesion || nombreSesion === '' || nombreSesion === 'null' || nombreSesion === 'undefined') {
        window.location.href = '@Url.Action("Login", "Login")';
    }


</script>