@{
    ViewData["Title"] = "Resultado del lenguaje";
}


<h2>Consulta de Lenguajes</h2>

<form asp-controller="Home" asp-action="ListarLenguajes" method="post">
    <button type="submit" class="btn btn-outline-info">Consultar Lenguajes</button>
</form>

@if (ViewBag.ListarLenguajes != null)
{
    <h3 class="mt-3">Lista de Lenguajes:</h3>
    <ul>
        @foreach (var lenguajes in ViewBag.ListarLenguajes)
        {
            <li>@lenguajes</li>
        }
    </ul>
}

<h2>Consulta de lenguajes por código</h2>

<form asp-controller="Home" asp-action="ListarLenguajesPorCodigo" method="post">
    <button type="submit" class="btn btn-outline-info">Listar Lenguajes</button>
</form>

@if (ViewBag.ListarLenguajesPorCodigo != null)
{
    <h3 class="mt-3">Lista de Lenguajes por código:</h3>
    <ul>
        @foreach (var lenguajes in ViewBag.ListarLenguajesPorCodigo)
        {
            <li>@lenguajes</li>
        }
    </ul>
}

<h2>Buscar lenguajes por código</h2>

<form asp-controller="Home" asp-action="ConsultarLenguaje" method="post">
    
    <label>Ingrese un código ISO de un lenguaje</label>
    <input type="text" class="form-control" name="codigoLenguaje" placeholder="Ejemplo: ara, eng, egy ..." />
    <button type="submit" class="btn btn-outline-info">Buscar</button>
</form>


@if (ViewBag.ConsultarLenguajeC != null)
{
    <h3 class="mt-3">Lenguaje:</h3>
    <p>@ViewBag.ConsultarLenguajeC</p>
}


<h2>Buscar lenguajes por nombre</h2>

<form asp-controller="Home" asp-action="ConsultarLenguajeNombre" method="post">

    <label>Ingrese un lenguaje</label>
    <input type="text" class="form-control" name="nombreLenguaje" placeholder="Ejemplo: English, Arabic ..." />
    <button type="submit" class="btn btn-outline-info">Buscar</button>
</form>

@if (ViewBag.ConsultarLenguajeN != null)
{
    <h3 class="mt-3">Lenguaje:</h3>
    <p>@ViewBag.ConsultarLenguajeN</p>
}