@model List<Reto.Models.Producto>


@{
	ViewData["title"] = "Productos";
}

@if (Model == null || Model.Count == 0){

	<p>No hay productos disponibles, disculpá</p>
}
else
{
<p>Productos disponibles :D</p>	
}