@{
    ViewData["Title"] = "Home  Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido usuario</h1>
</div>

<div id="btn-index">
    <a asp-controller="Producto" asp-action="Index">
        <button asp-action="Prodcuto" metthod="HttpGet" class="btn btn-primary">Prodcutos</button>
    </a>
    
</div>