@model IEnumerable<MVC_CRUD_INTRODUCCION.Models.EstadoViewModel>
@{
	ViewData["Title"] = "Estados Page";
}

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>NombreEstado</th>
            <th>Descripcion</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() == 0 || Model == null || !Model.Any())
        {
            <tr>
                <td>No hay registros</td>
            </tr>
        }
        else
        {
            @foreach (var estado in Model)
            {
                <tr>
                    <td>@estado.Id</td>
                    <td>@estado.NombreEstado</td>
                    <td>@estado.Descripcion</td>
                    <td>
                        <button>Agregar</button>
                        <button>Editar</button>
                        <button>Eliminar</button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
