USE [master]
GO
/****** Object:  Database [AeroDB]    Script Date: 15/05/2025 10:26:28 ******/
CREATE DATABASE [AeroDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AeroDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\AeroDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AeroDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\AeroDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AeroDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AeroDB]
GO
/****** Object:  Table [dbo].[Aeromosas]    Script Date: 15/05/2025 10:26:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aeromosas](
	[AeromosaID] [int] NOT NULL,
	[Nombre] [varchar](100) NULL,
	[VueloID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AeromosaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Alimentos]    Script Date: 15/05/2025 10:26:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alimentos](
	[AlimentoID] [int] NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Precio] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[AlimentoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Asientos]    Script Date: 15/05/2025 10:26:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asientos](
	[AsientoID] [int] NOT NULL,
	[VueloID] [int] NULL,
	[Clase] [varchar](20) NULL,
	[Precio] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[AsientoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Boletos]    Script Date: 15/05/2025 10:26:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Boletos](
	[BoletoID] [int] NOT NULL,
	[ClienteID] [int] NULL,
	[AsientoID] [int] NULL,
	[FechaCompra] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[BoletoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 15/05/2025 10:26:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[ClienteID] [int] NOT NULL,
	[Nombre] [varchar](100) NULL,
	[Correo] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ClienteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pilotos]    Script Date: 15/05/2025 10:26:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pilotos](
	[PilotoID] [int] NOT NULL,
	[Nombre] [varchar](100) NULL,
	[Licencia] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PilotoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rutas]    Script Date: 15/05/2025 10:26:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rutas](
	[RutaID] [int] NOT NULL,
	[Origen] [varchar](50) NULL,
	[Destino] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[RutaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vuelos]    Script Date: 15/05/2025 10:26:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vuelos](
	[VueloID] [int] NOT NULL,
	[Origen] [varchar](50) NULL,
	[Destino] [varchar](50) NULL,
	[Fecha] [date] NULL,
	[Hora] [time](7) NULL,
	[PilotoID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[VueloID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VuelosAlimentos]    Script Date: 15/05/2025 10:26:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VuelosAlimentos](
	[VueloID] [int] NOT NULL,
	[AlimentoID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VueloID] ASC,
	[AlimentoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Aeromosas]  WITH CHECK ADD FOREIGN KEY([VueloID])
REFERENCES [dbo].[Vuelos] ([VueloID])
GO
ALTER TABLE [dbo].[Asientos]  WITH CHECK ADD FOREIGN KEY([VueloID])
REFERENCES [dbo].[Vuelos] ([VueloID])
GO
ALTER TABLE [dbo].[Boletos]  WITH CHECK ADD FOREIGN KEY([AsientoID])
REFERENCES [dbo].[Asientos] ([AsientoID])
GO
ALTER TABLE [dbo].[Boletos]  WITH CHECK ADD FOREIGN KEY([ClienteID])
REFERENCES [dbo].[Clientes] ([ClienteID])
GO
ALTER TABLE [dbo].[Vuelos]  WITH CHECK ADD  CONSTRAINT [FK_Vuelos_Pilotos] FOREIGN KEY([PilotoID])
REFERENCES [dbo].[Pilotos] ([PilotoID])
GO
ALTER TABLE [dbo].[Vuelos] CHECK CONSTRAINT [FK_Vuelos_Pilotos]
GO
ALTER TABLE [dbo].[VuelosAlimentos]  WITH CHECK ADD FOREIGN KEY([AlimentoID])
REFERENCES [dbo].[Alimentos] ([AlimentoID])
GO
ALTER TABLE [dbo].[VuelosAlimentos]  WITH CHECK ADD FOREIGN KEY([VueloID])
REFERENCES [dbo].[Vuelos] ([VueloID])
GO
USE [master]
GO
