@{
    ViewData["Title"] = "Musicon";
}
<div style="text-align: center; max-width: 800px; margin: 0 auto;">
    <h1>@ViewData["Title"]</h1>
    <p>Les recomiendo este rolón (ACTIVA EL SONIDO)</p>

<div style="display: flex; justify-content: center; margin-top: 20px;">
    <div style="position: relative; width: 100%; max-width: 640px; padding-top: 56.25%;">
        <iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
                src="https://www.youtube.com/embed/fJ9rUzIMcZQ?autoplay=1&mute=1"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allow="autoplay"
                allowfullscreen>
        </iframe>
    </div>
</div>

