@model csUsuarioViewModel
@{
    ViewData["Title"] = "Home Page";
}

<form id="forms-usuario">

    <div class="mb-3">
        <label for="Nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="Nombre" placeholder="Nombre">
    </div>

    <div class="mb-3">
        <label for="Apellido" class="form-label">Apellido</label>
        <input type="text" class="form-control" id="Apellido" placeholder="Apellido">
    </div>

    <div class="mb-3">
        <label for="Edad" class="form-label">Edad</label>
        <input type="number" class="form-control" id="Edad" placeholder="Edad">
    </div>

    <div class="mb-3">
        <label for="Correo" class="form-label">Correo</label>
        <input type="email" class="form-control" id="Correo" placeholder="">
    </div>

    <div class="mb-3">
        <label for="Password" class="form-label">Contraseña</label>
        <input type="text" class="form-control" id="Password" placeholder="Contraseña">
    </div>

    <button type="submit" class="btn btn-danger" style="width: 100%;"  >Enviar</button>

</form>

<script>

    //const funcionClick = () => {

        /*const nombre = document.getElementById('Nombre').value;
		const apellido = document.getElementById('Apellido').value;
		const edad = document.getElementById('Edad').value;
		const usuario = {
			nombre: nombre,
			apellido: apellido,
			edad: edad
		};

        console.info(usuario);*/

        document.getElementById('forms-usuario').addEventListener('submit', (e) => {

			e.preventDefault();

            const nombre = document.getElementById('Nombre').value;
            const apellido = document.getElementById('Apellido').value;
            const edad = document.getElementById('Edad').value;

			const usuario = {
				nombre: nombre,
				apellido: apellido,
				edad: edad
			};

			if(nombre === ""){

            }


        });


    //};


</script>