USE [master]
GO
/****** Object:  Database [EmpresaDB]    Script Date: 9/05/2025 18:23:19 ******/
CREATE DATABASE [EmpresaDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EmpresaDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\EmpresaDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EmpresaDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\EmpresaDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EmpresaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EmpresaDB]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalcularEdad]    Script Date: 9/05/2025 18:23:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_CalcularEdad] (@FechaNacimiento DATE)
RETURNS INT
AS
BEGIN
    RETURN DATEDIFF(YEAR, @FechaNacimiento, GETDATE()) -
           CASE WHEN MONTH(@FechaNacimiento) > MONTH(GETDATE()) 
                 OR (MONTH(@FechaNacimiento) = MONTH(GETDATE()) AND DAY(@FechaNacimiento) > DAY(GETDATE()))
                THEN 1 ELSE 0 END;
END;
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 9/05/2025 18:23:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[EmpleadoID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NULL,
	[Apellido] [nvarchar](100) NULL,
	[FechaNacimiento] [date] NULL,
	[FechaIngreso] [date] NULL,
	[Puesto] [nvarchar](100) NULL,
	[SalarioBase] [decimal](10, 2) NULL,
	[Activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmpleadoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Planilla]    Script Date: 9/05/2025 18:23:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Planilla](
	[PlanillaID] [int] IDENTITY(1,1) NOT NULL,
	[EmpleadoID] [int] NULL,
	[Mes] [int] NULL,
	[Anio] [int] NULL,
	[HorasTrabajadas] [int] NULL,
	[Bonos] [decimal](10, 2) NULL,
	[Deducciones] [decimal](10, 2) NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PlanillaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pagos]    Script Date: 9/05/2025 18:23:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pagos](
	[PagoID] [int] IDENTITY(1,1) NOT NULL,
	[PlanillaID] [int] NULL,
	[FechaPago] [date] NULL,
	[MontoPagado] [decimal](10, 2) NULL,
	[MetodoPago] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PagoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VW_ResumenPagoEmpleado]    Script Date: 9/05/2025 18:23:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_ResumenPagoEmpleado] AS
SELECT 
    E.EmpleadoID,
    E.Nombre,
    E.Apellido,
    SUM(P.Bonos) AS TotalBonos,
    SUM(P.Deducciones) AS TotalDeducciones,
    SUM(PG.MontoPagado) AS TotalPagado
FROM Empleados E
LEFT JOIN Planilla P ON E.EmpleadoID = P.EmpleadoID
LEFT JOIN Pagos PG ON P.PlanillaID = PG.PlanillaID
GROUP BY E.EmpleadoID, E.Nombre, E.Apellido, E.Puesto, E.SalarioBase;
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 9/05/2025 18:23:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NULL,
	[Procedimiento] [nvarchar](100) NULL,
	[Mensaje] [nvarchar](max) NULL,
	[Error] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Empleados] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Logs] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Planilla] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD FOREIGN KEY([PlanillaID])
REFERENCES [dbo].[Planilla] ([PlanillaID])
GO
ALTER TABLE [dbo].[Planilla]  WITH CHECK ADD FOREIGN KEY([EmpleadoID])
REFERENCES [dbo].[Empleados] ([EmpleadoID])
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarPago]    Script Date: 9/05/2025 18:23:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RegistrarPago]
    @EmpleadoID INT,
    @Mes INT,
    @Anio INT,
    @MetodoPago NVARCHAR(50)
AS
BEGIN
    BEGIN TRY
        DECLARE @PlanillaID INT, @Pago DECIMAL(10,2);

        -- Obtener planilla
        SELECT TOP 1 @PlanillaID = PlanillaID,
                     @Pago = (E.SalarioBase + P.Bonos - P.Deducciones)
        FROM Planilla P
        INNER JOIN Empleados E ON P.EmpleadoID = E.EmpleadoID
        WHERE P.EmpleadoID = @EmpleadoID AND Mes = @Mes AND Anio = @Anio;

        IF @PlanillaID IS NULL
        BEGIN
            THROW 50001, 'No se encontró la planilla para el empleado en ese mes.', 1;
        END

        -- Insertar pago
        INSERT INTO Pagos (PlanillaID, FechaPago, MontoPagado, MetodoPago)
        VALUES (@PlanillaID, GETDATE(), @Pago, @MetodoPago);

        -- Log éxito
        INSERT INTO Logs (Procedimiento, Mensaje, Error)
        VALUES ('sp_RegistrarPago', CONCAT('Pago registrado exitosamente para empleado ID: ', @EmpleadoID), 0);
    END TRY
    BEGIN CATCH
        INSERT INTO Logs (Procedimiento, Mensaje, Error)
        VALUES ('sp_RegistrarPago', ERROR_MESSAGE(), 1);
    END CATCH
END;
GO
USE [master]
GO
