body {
    font-family: 'Roboto', sans-serif;
    background-color: #e6f7ff;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    color: #1f3a56;
}

form {
    width: 550px;
    margin: 50px auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

label {
    font-size: 16px;
    color: #1f3a56;
    margin-bottom: 10px;
}

input, select {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

    button:hover {
        background-color: #45a049;
    }

.text-danger {
    color: #f44336;
}


/* Ajustar tamaño de los botones en la tabla */
.table .btn {
    width: auto;
    padding: 1px 10px;
    font-size: 10px;
}

/* Limitar el tamaño del botón de 'Generar PDF' */
#btnImprimirPdf {
    width: auto;
    max-width: 150px;
    padding: 5px 20px;
}

#toggleStyleButton {
    width: auto;
    max-width: 150px;
    padding: 5px 20px;
}