USE [master]
GO
/****** Object:  Database [BD_CursoresPractica]    Script Date: 13/05/2025 16:30:33 ******/
CREATE DATABASE [BD_CursoresPractica]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BD_CursoresPractica', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BD_CursoresPractica.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BD_CursoresPractica_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BD_CursoresPractica_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD_CursoresPractica].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD_CursoresPractica]
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 13/05/2025 16:30:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[Id_Empleado] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NULL,
	[Puesto] [nvarchar](100) NULL,
	[Rendimiento] [nvarchar](40) NULL,
	[Salario] [decimal](10, 2) NULL,
	[FechaIngreso] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 13/05/2025 16:30:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[Id_Log] [int] IDENTITY(1,1) NOT NULL,
	[Accion] [nvarchar](255) NULL,
	[Fecha] [datetime] NULL,
	[Procedimiento] [nvarchar](100) NULL,
	[Mensaje] [nvarchar](max) NULL,
	[Error] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Log] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 13/05/2025 16:30:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[Id_Producto] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NULL,
	[Costo] [decimal](10, 2) NULL,
	[Tipo] [nvarchar](50) NULL,
	[Stock] [int] NULL,
	[FechaIngreso] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Logs] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT (getdate()) FOR [FechaIngreso]
GO
/****** Object:  StoredProcedure [dbo].[SP_Aumentar_Salario_Empleado]    Script Date: 13/05/2025 16:30:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_Aumentar_Salario_Empleado]
    @e_id_empleado INT
AS
BEGIN
    BEGIN TRY
        UPDATE Empleados
        SET Salario = 
            CASE Puesto
                WHEN 'Analista' THEN Salario * 1.15
                WHEN 'Gerente' THEN Salario * 1.30
                WHEN 'Subgerente' THEN Salario * 1.20
                ELSE Salario
            END
        WHERE Id_Empleado = @e_id_empleado;

        INSERT INTO Logs (Procedimiento, Accion, Mensaje, Error)
        VALUES ('SP_Aumentar_Salario_Empleado', 'AUMENTO', 'Salario actualizado según el puesto del empleado', 0);

    END TRY
    BEGIN CATCH

        INSERT INTO Logs (Procedimiento, Accion, Mensaje, Error)
        VALUES ('SP_Aumentar_Salario_Empleado', 'AUMENTO', ERROR_MESSAGE(), 1);
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_Aumentar_Salario_Rendimiento_Alto]    Script Date: 13/05/2025 16:30:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Aumentar_Salario_Rendimiento_Alto]
    @e_id_empleado INT
AS
BEGIN
    BEGIN TRY
        UPDATE Empleados
        SET Salario = Salario + (Salario * 0.07)
        WHERE Id_Empleado = @e_id_empleado AND Rendimiento = 'Alto';

        INSERT INTO Logs (Procedimiento, Accion, Mensaje, Error)
        VALUES ('SP_Aumentar_Salario_Rendimiento_Alto', 'APLICAR BONO', 'Bono por rendimiento Alto', 0);
    END TRY
    BEGIN CATCH
        INSERT INTO Logs (Procedimiento, Accion, Mensaje, Error)
        VALUES ('SP_Aumentar_Salario_Rendimiento_Alto', 'APLICAR BONO', ERROR_MESSAGE(), 1);
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_Aumentar_Salario_Rendimiento_Bueno]    Script Date: 13/05/2025 16:30:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_Aumentar_Salario_Rendimiento_Bueno]
    @e_id_empleado INT
AS
BEGIN
    BEGIN TRY
        UPDATE Empleados
        SET Salario = Salario + (Salario * 0.02)
        WHERE Id_Empleado = @e_id_empleado AND Rendimiento = 'Bueno';

        INSERT INTO Logs (Procedimiento, Accion, Mensaje, Error)
        VALUES ('SP_Aumentar_Salario_Rendimiento_Bueno', 'APLICAR BONO', 'Bono por rendimiento Bueno', 0);
    END TRY
    BEGIN CATCH
        INSERT INTO Logs (Procedimiento, Accion, Mensaje, Error)
        VALUES ('SP_Aumentar_Salario_Rendimiento_Bueno', 'APLICAR BONO', ERROR_MESSAGE(), 1);
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_Aumentar_Salario_Rendimiento_Medio]    Script Date: 13/05/2025 16:30:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_Aumentar_Salario_Rendimiento_Medio]
    @e_id_empleado INT
AS
BEGIN
    BEGIN TRY
        UPDATE Empleados
        SET Salario = Salario + (Salario * 0.05)
        WHERE Id_Empleado = @e_id_empleado AND Rendimiento = 'Medio';

        INSERT INTO Logs (Procedimiento, Accion, Mensaje, Error)
        VALUES ('SP_Aumentar_Salario_Rendimiento_Medio', 'APLICAR BONO', 'Bono por rendimiento Medio', 0);
    END TRY
    BEGIN CATCH
        INSERT INTO Logs (Procedimiento, Accion, Mensaje, Error)
        VALUES ('SP_Aumentar_Salario_Rendimiento_Medio', 'APLICAR BONO', ERROR_MESSAGE(), 1);
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_Aumento_Precio_Tipo_Producto]    Script Date: 13/05/2025 16:30:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Aumento_Precio_Tipo_Producto]
    @p_id_producto INT,
	@p_nombre VARCHAR(100),
    @p_tipo_producto VARCHAR(40),
    @p_porcentaje DECIMAL(5,2)
AS
BEGIN
    BEGIN TRY
        UPDATE Productos
        SET Costo = Costo * (1 + @p_porcentaje / 100)
        WHERE Id_Producto = @p_id_producto AND Tipo = @p_tipo_producto;

	BEGIN
		INSERT INTO Logs(Procedimiento, Accion, Mensaje, Error)
        VALUES ('SP_Aumento_Precio_Tipo_Producto','AUMENTO PRECIO',CONCAT('El producto aumento',@p_porcentaje,'% su precio por ser tipo', @p_tipo_producto), 0);
	END
	END TRY
	BEGIN CATCH
		INSERT INTO Logs(Procedimiento, Accion, Mensaje, Error)
        VALUES ('SP_Aumento_Precio_Tipo_Producto','AUMENTO PRECIO', ERROR_MESSAGE(), 1);

	END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_Ingresar_Empleado]    Script Date: 13/05/2025 16:30:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Ingresar_Empleado]
    @e_nombre VARCHAR(100),
	@e_puesto VARCHAR(100),
    @e_rendimiento VARCHAR(40),
	@e_salario DECIMAL(10,2),
	@e_fechaingreso DATE
AS
BEGIN
	BEGIN TRY
		INSERT INTO Empleados(Nombre, Puesto, Rendimiento, Salario, FechaIngreso)
		VALUES (@e_nombre, @e_puesto, @e_rendimiento, @e_salario, @e_fechaingreso);

		INSERT INTO Logs(Procedimiento, Accion, Mensaje, Error)
        VALUES ('SP_Ingresar_Empleado','INSERT','El empleado se ingresó correctamente', 0);

	END TRY
	BEGIN CATCH
		INSERT INTO Logs(Procedimiento, Accion, Mensaje, Error)
        VALUES ('SP_Ingresar_Empleado','INSERT', ERROR_MESSAGE(), 1);

	END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_Ingresar_Producto]    Script Date: 13/05/2025 16:30:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[SP_Ingresar_Producto] 
    @p_nombre VARCHAR(100),
	@p_costo DECIMAL(10,2),
    @p_tipo VARCHAR(40),
	@p_stock INT
AS
BEGIN
	BEGIN TRY
		INSERT INTO Productos(Nombre, Costo, Tipo, Stock)
		VALUES (@p_nombre , @p_costo, @p_tipo, @p_stock);

		INSERT INTO Logs(Procedimiento, Accion, Mensaje, Error)
        VALUES ('SP_Ingresar_Producto','INGRESAR PRODUCTO','El producto se ingresó correctamente', 0);

	END TRY
	BEGIN CATCH
		INSERT INTO Logs(Procedimiento, Accion, Mensaje, Error)
        VALUES ('SP_Ingresar_Producto','INGRESAR PRODUCTO', ERROR_MESSAGE(), 1);

	END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_Notificar_Stock_Bajo]    Script Date: 13/05/2025 16:30:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Notificar_Stock_Bajo]
    @p_nombre VARCHAR(100),
	@p_stock DECIMAL(10,2)
AS
BEGIN
	BEGIN TRY
	IF EXISTS(
		SELECT 1 
		FROM Productos WHERE Stock < 10
	)
	BEGIN
		INSERT INTO Logs(Procedimiento, Accion, Mensaje, Error)
        VALUES ('SP_Notificar_Stock_Bajo','NOTIFICACION STOCK',CONCAT('El producto: ',@p_nombre, 'tiene un stock menor a 10'), 0);
	END
	END TRY
	BEGIN CATCH
		INSERT INTO Logs(Procedimiento, Accion, Mensaje, Error)
        VALUES ('SP_Notificar_Stock_Bajo','NOTIFICACION STOCK', ERROR_MESSAGE(), 1);

	END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_Salario_Rendimiento_Bajo]    Script Date: 13/05/2025 16:30:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Salario_Rendimiento_Bajo]
    @e_id_empleado INT
AS
BEGIN
    BEGIN TRY 
        INSERT INTO Logs (Procedimiento, Accion, Mensaje, Error)
        VALUES ('SP_Salario_Rendimiento_Bajo', 'NOTIFICACION', 'Sin bono por rendimiento Bajo', 0);
    END TRY
    BEGIN CATCH
        INSERT INTO Logs (Procedimiento, Accion, Mensaje, Error)
        VALUES ('SP_Salario_Rendimiento_Bajo', 'ERROR', ERROR_MESSAGE(), 1);
    END CATCH
END;
GO
USE [master]
GO
