
<section class="py-4 py-md-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="container-fluid border border-dark"
                     style="background-image: url('/images/fondo-inicio.jpg');background-size: cover;background-position: center;background-color: rgba(0, 0,0, 0.4);background-blend-mode: overlay;min-height: 600px;display: flex;align-items: center;">

                    <div class="row justify-content-center w-100">
                        <div class="col-12 col-md-10 text-center text-white px-4">
                            <h2 class="display-4 fw-bold mb-4">Bienvenido!!</h2>
                            <p class="lead mb-5">
                                "Creemos que el verdadero estilo no necesita adornos: una prenda bien hecha habla por sí sola."
                            </p>
                            <a asp-controller="Home" asp-action="Menu" class="btn btn-light btn-lg px-4">Explorar más</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
