html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

header{
    background-color:lightblue;
}
body {
    margin-bottom: 60px;
    background-color: #f5f1f1;
}

#login-div{
    background-color:white;
    padding:20px;
    margin-right:200px;
    margin-left:200px;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
}
#login-div button{
    padding: 5px 20px 5px 20px;
}
#btn-index{
    margin-left:50px;
}

#btn-index button{
    box-shadow: 0 0 10px gray;
}